html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block; 
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}
/*begin code
ggggggggggggggggggggggggggggggggggg
gggggggggggggggggggggggggggggggggggg
gggggggggggggggggggggggggggggg

*/

header{
    background-color: #3131A9;
    height: 20%;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
}html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body
{
    background: #fff;
    font: 14px/1.333 sans-serif;
    color: #080000;
}

header#primary
{
    width: 100%;
    height: 100px;
    background: #313131;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d4d4d), to(#313131));
    background-image: -moz-linear-gradient(#4d4d4d, #313131);
    background-image: -o-linear-gradient(#4d4d4d, #313131);
    background-image: linear-gradient(#4d4d4d, #313131);
}
header#primary h1
{
    margin: 0px 0px 0px 20px;
    padding: 0px;
    line-height: 100px;
    color: #ffffff;
}

/* #sidebar
{
    float: left;
    width: 250px;
    background: #923636;
    min-height: 100%;
} */

.news-box{
    border: 1px solid #000000;
    overflow: hidden;
    margin: 10px 5px;
    border-radius: 15px;
    background-color: #FFFFFF;

}

.crash_image{
    float: left;
}

.news_heading{
    background-color: black;
    color: white;
    text-align: center;
}

.jojo-image{
    float: right;
}

.main{
    display: flex;
}