/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html { 
    background: #DADADA;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 



 .header{
     background-color: black;
     height: 20%;
 }



#containermain{
    max-width: 100%;
    margin: 0 0 0 0;
    min-height: 100%;
    float:center;
}

#containerside{
    background: linear-gradient(black,black, grey, #DADADe);
    float: left;
    width:12%;
    min-height: 90%;
   /*  border: 0px solid black; */
    
    border-bottom-right-radius: 20px;
    margin: 83px 0 0 0;
    
 }
    
 #containerhead{
    max-width: 100%;
    margin: 0 auto;

 }

 html, body{
    margin: 0;
    padding: 0;
    height: 100%;
 }

 .getallen-info{
     font-family: "Comic sans";
     background-color: black;
     color:seagreen;
     text-align: center;
     font-size: 50px;
     border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    width: 100%;
    margin: 0 auto;
     
 }

 .head{
     font-size: 30px;
     font-family: Arial, Helvetica, sans-serif;
     text-align: left;
     color: white;
     background-color: black;
     border: 1px solid black;
     border-bottom-color: grey;
 }

.main{
    display: flex;
}


.para{
    text-align: center;
    word-spacing: 0,02em;
    line-height: 1.2em;
    color: black;
    font-size: 25px;
    font-family: Arial, sans-serif;
}

.plaatsen{
    font-size:25px;
    text-align: center;
}

.navi{
    color:seagreen;
    font-size: 42px;
    /* border-bottom: 5px;
    border-bottom-color: #FF0000; */
}

.hyperlinkz{
    color: white;;
    font-size: 20px;
    font-family: "comic sans", Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; /* bij hovering over de hyperlinks zal dit langzaam naar de gekozen kleur veranderen. */
    
    
}



a:hover{
    color:seagreen;
}

#footer{
    max-width: 600px;
    margin: 0 auto;
    
}
 
.endtext{
    color: white;
    text-align: left;
    background: #1F1F1F;
    border: 1px solid black;
    font-size: 15px;
    border: 2px solid black;
    font-family: "comic sans MS"
    
}

.profielfoto{
    height: 200px;
    width: 200px;
    float: right;
}

.determination{
    float: left;
}

.anotherone{
    float:right;
}

#containerleft{
    float:right;
}

#containerright{
    float: left;
}

.margining{
    margin: 200px 600px 300px 700px;
}

.lolz{
    float: center;
}

#myCanvas{
    margin: 0 0 0 0;
}

#containerside1{
    background: linear-gradient(black,black, grey, #DADADe);
    float: left;
    width:12%;
    min-height:100%;
    margin: 0 0 30px 0;
   /*  border: 0px solid black; */
}

.tekstzz{
    color: darkred;
    font-size: 30px;
}

.textbox{
    border: 1px solid none;
    background: linear-gradient(#DADADe, seagreen, #1A681A,seagreen, #DADADe);
    width: 800px;
    float: center;
    margin: 0 auto;
    height: 730px;
    /* hier bevinden zich de teksten in de maincontainer*/

}

.profielfoto{
    border-radius: 50px;
    
    float: left;
}